.anatomy-cards {
  border: 1px solid black;
  height: 287px;
  width: 220px;
  border-radius: 10px ;
 margin: 0 auto;
}

.anatomyImg {
  width: 100%;
  height: auto;
}

.anatomy-post {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.anatomySocials {
  width: 158px;
  height: 40px;
  background-color: #EEEEEE;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  margin: 0 auto;
}

.anaSoc {
  text-align: center;
}